(edif mult_5u_5u
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2020 11 23 12 0 55)
      (program "SCUBA" (version "Diamond (64-bit) 3.11.0.396.4"))))
      (comment "c:/lscc/diamond/3.11_x64/ispfpga/bin/nt64/scuba.exe -w -n mult_5u_5u -lang verilog -bb -arch xo2c00 -type dspmult -pfu_mult -widtha 5 -widthb 5 -widthp 10 -pl_stages 0 ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell AND2
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port A
            (direction INPUT))
          (port B
            (direction INPUT))
          (port Z
            (direction OUTPUT)))))
    (cell FADD2B
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port A0
            (direction INPUT))
          (port A1
            (direction INPUT))
          (port B0
            (direction INPUT))
          (port B1
            (direction INPUT))
          (port CI
            (direction INPUT))
          (port COUT
            (direction OUTPUT))
          (port S0
            (direction OUTPUT))
          (port S1
            (direction OUTPUT)))))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell MULT2
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port A0
            (direction INPUT))
          (port A1
            (direction INPUT))
          (port A2
            (direction INPUT))
          (port A3
            (direction INPUT))
          (port B0
            (direction INPUT))
          (port B1
            (direction INPUT))
          (port B2
            (direction INPUT))
          (port B3
            (direction INPUT))
          (port CI
            (direction INPUT))
          (port P0
            (direction OUTPUT))
          (port P1
            (direction OUTPUT))
          (port CO
            (direction OUTPUT)))))
    (cell mult_5u_5u
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (rename A0 "A(0)")
            (direction INPUT))
          (port (rename A1 "A(1)")
            (direction INPUT))
          (port (rename A2 "A(2)")
            (direction INPUT))
          (port (rename A3 "A(3)")
            (direction INPUT))
          (port (rename A4 "A(4)")
            (direction INPUT))
          (port (rename B0 "B(0)")
            (direction INPUT))
          (port (rename B1 "B(1)")
            (direction INPUT))
          (port (rename B2 "B(2)")
            (direction INPUT))
          (port (rename B3 "B(3)")
            (direction INPUT))
          (port (rename B4 "B(4)")
            (direction INPUT))
          (port (rename P0 "P(0)")
            (direction OUTPUT))
          (port (rename P1 "P(1)")
            (direction OUTPUT))
          (port (rename P2 "P(2)")
            (direction OUTPUT))
          (port (rename P3 "P(3)")
            (direction OUTPUT))
          (port (rename P4 "P(4)")
            (direction OUTPUT))
          (port (rename P5 "P(5)")
            (direction OUTPUT))
          (port (rename P6 "P(6)")
            (direction OUTPUT))
          (port (rename P7 "P(7)")
            (direction OUTPUT))
          (port (rename P8 "P(8)")
            (direction OUTPUT))
          (port (rename P9 "P(9)")
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance AND2_t6
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t5
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t4
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t3
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t2
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t1
            (viewRef view1 
              (cellRef AND2)))
          (instance AND2_t0
            (viewRef view1 
              (cellRef AND2)))
          (instance mult_5u_5u_0_cin_lr_add_0
            (viewRef view1 
              (cellRef FADD2B)))
          (instance mult_5u_5u_0_cin_lr_add_2
            (viewRef view1 
              (cellRef FADD2B)))
          (instance Cadd_mult_5u_5u_0_0_1
            (viewRef view1 
              (cellRef FADD2B)))
          (instance mult_5u_5u_0_add_0_2
            (viewRef view1 
              (cellRef FADD2B)))
          (instance mult_5u_5u_0_add_0_3
            (viewRef view1 
              (cellRef FADD2B)))
          (instance mult_5u_5u_0_add_0_4
            (viewRef view1 
              (cellRef FADD2B)))
          (instance Cadd_mult_5u_5u_0_0_5
            (viewRef view1 
              (cellRef FADD2B)))
          (instance Cadd_t_mult_5u_5u_0_1_1
            (viewRef view1 
              (cellRef FADD2B)))
          (instance t_mult_5u_5u_0_add_1_2
            (viewRef view1 
              (cellRef FADD2B)))
          (instance t_mult_5u_5u_0_add_1_3
            (viewRef view1 
              (cellRef FADD2B)))
          (instance t_mult_5u_5u_0_add_1_4
            (viewRef view1 
              (cellRef FADD2B)))
          (instance mult_5u_5u_0_mult_0_0
            (viewRef view1 
              (cellRef MULT2)))
          (instance mult_5u_5u_0_mult_0_1
            (viewRef view1 
              (cellRef MULT2)))
          (instance mult_5u_5u_0_mult_0_2
            (viewRef view1 
              (cellRef MULT2)))
          (instance mult_5u_5u_0_mult_2_0
            (viewRef view1 
              (cellRef MULT2)))
          (instance mult_5u_5u_0_mult_2_1
            (viewRef view1 
              (cellRef MULT2)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance mult_5u_5u_0_mult_2_2
            (viewRef view1 
              (cellRef MULT2)))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))))
          (net mult_5u_5u_0_pp_1_2
            (joined
              (portRef B1 (instanceRef Cadd_mult_5u_5u_0_0_1))
              (portRef Z (instanceRef AND2_t5))))
          (net co_mult_5u_5u_0_0_1
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_add_0_2))
              (portRef COUT (instanceRef Cadd_mult_5u_5u_0_0_1))))
          (net co_mult_5u_5u_0_0_2
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_add_0_3))
              (portRef COUT (instanceRef mult_5u_5u_0_add_0_2))))
          (net co_mult_5u_5u_0_0_3
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_add_0_4))
              (portRef COUT (instanceRef mult_5u_5u_0_add_0_3))))
          (net co_mult_5u_5u_0_0_4
            (joined
              (portRef CI (instanceRef Cadd_mult_5u_5u_0_0_5))
              (portRef COUT (instanceRef mult_5u_5u_0_add_0_4))))
          (net mult_5u_5u_0_pp_2_4
            (joined
              (portRef B1 (instanceRef Cadd_t_mult_5u_5u_0_1_1))
              (portRef Z (instanceRef AND2_t4))))
          (net s_mult_5u_5u_0_0_4
            (joined
              (portRef A1 (instanceRef Cadd_t_mult_5u_5u_0_1_1))
              (portRef S1 (instanceRef mult_5u_5u_0_add_0_2))))
          (net co_t_mult_5u_5u_0_1_1
            (joined
              (portRef CI (instanceRef t_mult_5u_5u_0_add_1_2))
              (portRef COUT (instanceRef Cadd_t_mult_5u_5u_0_1_1))))
          (net mult_5u_5u_0_pp_2_5
            (joined
              (portRef B0 (instanceRef t_mult_5u_5u_0_add_1_2))
              (portRef Z (instanceRef AND2_t3))))
          (net mult_5u_5u_0_pp_2_6
            (joined
              (portRef B1 (instanceRef t_mult_5u_5u_0_add_1_2))
              (portRef Z (instanceRef AND2_t2))))
          (net s_mult_5u_5u_0_0_5
            (joined
              (portRef A0 (instanceRef t_mult_5u_5u_0_add_1_2))
              (portRef S0 (instanceRef mult_5u_5u_0_add_0_3))))
          (net s_mult_5u_5u_0_0_6
            (joined
              (portRef A1 (instanceRef t_mult_5u_5u_0_add_1_2))
              (portRef S1 (instanceRef mult_5u_5u_0_add_0_3))))
          (net co_t_mult_5u_5u_0_1_2
            (joined
              (portRef CI (instanceRef t_mult_5u_5u_0_add_1_3))
              (portRef COUT (instanceRef t_mult_5u_5u_0_add_1_2))))
          (net mult_5u_5u_0_pp_2_7
            (joined
              (portRef B0 (instanceRef t_mult_5u_5u_0_add_1_3))
              (portRef Z (instanceRef AND2_t1))))
          (net mult_5u_5u_0_pp_2_8
            (joined
              (portRef B1 (instanceRef t_mult_5u_5u_0_add_1_3))
              (portRef Z (instanceRef AND2_t0))))
          (net s_mult_5u_5u_0_0_7
            (joined
              (portRef A0 (instanceRef t_mult_5u_5u_0_add_1_3))
              (portRef S0 (instanceRef mult_5u_5u_0_add_0_4))))
          (net s_mult_5u_5u_0_0_8
            (joined
              (portRef A1 (instanceRef t_mult_5u_5u_0_add_1_3))
              (portRef S1 (instanceRef mult_5u_5u_0_add_0_4))))
          (net co_t_mult_5u_5u_0_1_4
            (joined
              (portRef COUT (instanceRef t_mult_5u_5u_0_add_1_4))))
          (net co_t_mult_5u_5u_0_1_3
            (joined
              (portRef CI (instanceRef t_mult_5u_5u_0_add_1_4))
              (portRef COUT (instanceRef t_mult_5u_5u_0_add_1_3))))
          (net s_mult_5u_5u_0_0_9
            (joined
              (portRef A0 (instanceRef t_mult_5u_5u_0_add_1_4))
              (portRef S0 (instanceRef Cadd_mult_5u_5u_0_0_5))))
          (net mult_5u_5u_0_pp_0_2
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef A1 (instanceRef Cadd_mult_5u_5u_0_0_1))))
          (net mult_5u_5u_0_cin_lr_0
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef COUT (instanceRef mult_5u_5u_0_cin_lr_add_0))))
          (net mult_5u_5u_0_pp_0_4
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A1 (instanceRef mult_5u_5u_0_add_0_2))))
          (net mult_5u_5u_0_pp_0_3
            (joined
              (portRef P0 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A0 (instanceRef mult_5u_5u_0_add_0_2))))
          (net mco
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef CO (instanceRef mult_5u_5u_0_mult_0_0))))
          (net mfco
            (joined
              (portRef CO (instanceRef mult_5u_5u_0_mult_0_2))))
          (net mult_5u_5u_0_pp_0_6
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A1 (instanceRef mult_5u_5u_0_add_0_3))))
          (net mult_5u_5u_0_pp_0_5
            (joined
              (portRef P0 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A0 (instanceRef mult_5u_5u_0_add_0_3))))
          (net mco_1
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef CO (instanceRef mult_5u_5u_0_mult_0_1))))
          (net mult_5u_5u_0_pp_1_4
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B1 (instanceRef mult_5u_5u_0_add_0_2))))
          (net mult_5u_5u_0_pp_1_3
            (joined
              (portRef P0 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B0 (instanceRef mult_5u_5u_0_add_0_2))))
          (net mult_5u_5u_0_cin_lr_2
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef COUT (instanceRef mult_5u_5u_0_cin_lr_add_2))))
          (net mult_5u_5u_0_pp_1_6
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B1 (instanceRef mult_5u_5u_0_add_0_3))))
          (net mult_5u_5u_0_pp_1_5
            (joined
              (portRef P0 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B0 (instanceRef mult_5u_5u_0_add_0_3))))
          (net mco_2
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef CO (instanceRef mult_5u_5u_0_mult_2_0))))
          (net mfco_1
            (joined
              (portRef CO (instanceRef mult_5u_5u_0_mult_2_2))))
          (net mult_5u_5u_0_pp_1_8
            (joined
              (portRef P1 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef B1 (instanceRef mult_5u_5u_0_add_0_4))))
          (net mult_5u_5u_0_pp_1_7
            (joined
              (portRef P0 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef B0 (instanceRef mult_5u_5u_0_add_0_4))))
          (net mco_3
            (joined
              (portRef CI (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef CO (instanceRef mult_5u_5u_0_mult_2_1))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CI (instanceRef mult_5u_5u_0_cin_lr_add_0))
              (portRef B0 (instanceRef mult_5u_5u_0_cin_lr_add_0))
              (portRef B1 (instanceRef mult_5u_5u_0_cin_lr_add_0))
              (portRef A0 (instanceRef mult_5u_5u_0_cin_lr_add_0))
              (portRef A1 (instanceRef mult_5u_5u_0_cin_lr_add_0))
              (portRef CI (instanceRef mult_5u_5u_0_cin_lr_add_2))
              (portRef B0 (instanceRef mult_5u_5u_0_cin_lr_add_2))
              (portRef B1 (instanceRef mult_5u_5u_0_cin_lr_add_2))
              (portRef A0 (instanceRef mult_5u_5u_0_cin_lr_add_2))
              (portRef A1 (instanceRef mult_5u_5u_0_cin_lr_add_2))
              (portRef CI (instanceRef Cadd_mult_5u_5u_0_0_1))
              (portRef B0 (instanceRef Cadd_mult_5u_5u_0_0_1))
              (portRef A0 (instanceRef Cadd_mult_5u_5u_0_0_1))
              (portRef A0 (instanceRef mult_5u_5u_0_add_0_4))
              (portRef A1 (instanceRef mult_5u_5u_0_add_0_4))
              (portRef B0 (instanceRef Cadd_mult_5u_5u_0_0_5))
              (portRef B1 (instanceRef Cadd_mult_5u_5u_0_0_5))
              (portRef A0 (instanceRef Cadd_mult_5u_5u_0_0_5))
              (portRef A1 (instanceRef Cadd_mult_5u_5u_0_0_5))
              (portRef CI (instanceRef Cadd_t_mult_5u_5u_0_1_1))
              (portRef B0 (instanceRef Cadd_t_mult_5u_5u_0_1_1))
              (portRef A0 (instanceRef Cadd_t_mult_5u_5u_0_1_1))
              (portRef B0 (instanceRef t_mult_5u_5u_0_add_1_4))
              (portRef B1 (instanceRef t_mult_5u_5u_0_add_1_4))
              (portRef A1 (instanceRef t_mult_5u_5u_0_add_1_4))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_2_2))))
          (net P9
            (joined
              (portRef P9)
              (portRef S0 (instanceRef t_mult_5u_5u_0_add_1_4))))
          (net P8
            (joined
              (portRef P8)
              (portRef S1 (instanceRef t_mult_5u_5u_0_add_1_3))))
          (net P7
            (joined
              (portRef P7)
              (portRef S0 (instanceRef t_mult_5u_5u_0_add_1_3))))
          (net P6
            (joined
              (portRef P6)
              (portRef S1 (instanceRef t_mult_5u_5u_0_add_1_2))))
          (net P5
            (joined
              (portRef P5)
              (portRef S0 (instanceRef t_mult_5u_5u_0_add_1_2))))
          (net P4
            (joined
              (portRef P4)
              (portRef S1 (instanceRef Cadd_t_mult_5u_5u_0_1_1))))
          (net P3
            (joined
              (portRef P3)
              (portRef S0 (instanceRef mult_5u_5u_0_add_0_2))))
          (net P2
            (joined
              (portRef P2)
              (portRef S1 (instanceRef Cadd_mult_5u_5u_0_0_1))))
          (net P1
            (joined
              (portRef P1)
              (portRef P0 (instanceRef mult_5u_5u_0_mult_0_0))))
          (net P0
            (joined
              (portRef P0)
              (portRef Z (instanceRef AND2_t6))))
          (net B_4
            (joined
              (portRef B4)
              (portRef B (instanceRef AND2_t4))
              (portRef B (instanceRef AND2_t3))
              (portRef B (instanceRef AND2_t2))
              (portRef B (instanceRef AND2_t1))
              (portRef B (instanceRef AND2_t0))))
          (net B_3
            (joined
              (portRef B3)
              (portRef B2 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B2 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B2 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_2_2))))
          (net B_2
            (joined
              (portRef B2)
              (portRef B (instanceRef AND2_t5))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_2_2))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_2_2))))
          (net B_1
            (joined
              (portRef B1)
              (portRef B2 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef B2 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef B2 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef B0 (instanceRef mult_5u_5u_0_mult_0_2))))
          (net B
            (joined
              (portRef B0)
              (portRef B (instanceRef AND2_t6))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef B3 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef B1 (instanceRef mult_5u_5u_0_mult_0_2))))
          (net A_4
            (joined
              (portRef A4)
              (portRef A (instanceRef AND2_t0))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_0_2))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_2_2))))
          (net A_3
            (joined
              (portRef A3)
              (portRef A (instanceRef AND2_t1))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_2_1))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_2_1))))
          (net A_2
            (joined
              (portRef A2)
              (portRef A (instanceRef AND2_t2))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_0_1))
              (portRef A3 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_2_1))))
          (net A_1
            (joined
              (portRef A1)
              (portRef A (instanceRef AND2_t3))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef A2 (instanceRef mult_5u_5u_0_mult_2_0))
              (portRef A1 (instanceRef mult_5u_5u_0_mult_2_0))))
          (net A
            (joined
              (portRef A0)
              (portRef A (instanceRef AND2_t6))
              (portRef A (instanceRef AND2_t5))
              (portRef A (instanceRef AND2_t4))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_0_0))
              (portRef A0 (instanceRef mult_5u_5u_0_mult_2_0))))))))
  (design mult_5u_5u
    (cellRef mult_5u_5u
      (libraryRef ORCLIB)))
)
