BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "pulse_out" SITE "P9" ;
LOCATE COMP "display" SITE "G3" ;
LOCATE COMP "key_menu" SITE "L14" ;
LOCATE COMP "key_up" SITE "M14" ;
LOCATE COMP "key_down" SITE "N14" ;
LOCATE COMP "rst_n" SITE "M13" ;
LOCATE COMP "menu_state" SITE "N13" ;
FREQUENCY 12.000000 MHz ;
IOBUF ALLPORTS IO_TYPE=LVCMOS25 ;
IOBUF PORT "key_down" IO_TYPE=LVCMOS25 ;
IOBUF PORT "key_menu" IO_TYPE=LVCMOS25 ;
IOBUF PORT "key_up" IO_TYPE=LVCMOS25 ;
