BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "reset" SITE "L14" ;
FREQUENCY 12.000000 MHz ;
LOCATE COMP "akku_o[7]" SITE "P9" ;
LOCATE COMP "akku_o[6]" SITE "N9" ;
LOCATE COMP "akku_o[5]" SITE "N10" ;
LOCATE COMP "akku_o[4]" SITE "P11" ;
LOCATE COMP "akku_o[3]" SITE "M11" ;
LOCATE COMP "akku_o[2]" SITE "P12" ;
LOCATE COMP "akku_o[1]" SITE "M12" ;
LOCATE COMP "akku_o[0]" SITE "N13" ;
